{% extends "base.html" %}

{% block title %}
  Chat room for "{{ course.title }}"
{% endblock title %}

{% block content %}
  <div>
    <div class="text-center">

    </div>
  </div>
    <div id="chat" class="flex">

    </div>
    <div id="chat-input" class="input-group">
        <input type="text" id="chat-message-input" class="form-control ms-2 mb-2 rounded-3" aria-labelledby="chat-message-submit">
        <input class="btn btn-primary ms-2 me-2 mb-2" type="submit" value="Send" id="chat-message-submit">
    </div>

{% endblock content %}

{% block domready %}
  var url = 'wss://' + window.location.host + 
            '/ws/chat/room/' + '{{ course.id }}/';
  var chatSocket = new WebSocket(url);

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data.message;

    var dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
    var datetime = new Date(data['datetime']).toLocaleString('en', dateOptions);

    var isMe = data.user === '{{ request.user }}';
    var source = isMe ? 'me' : 'other';
    var name = isMe ? 'You ' : data.user;

    var $chat = $('#chat');
    if(source == "me") {
      $chat.append('<div class="col-9 float-end text-end mb-2 ' + source + '">' + 
        '<strong class="text-capitalize">' + name + '</strong>' + 
        '<span class="date ms-2 mt-1 me-1 ">' + datetime + '</span><br>' +
        '<p class="mb-0 fs-5 p-2 ps-4 float-end" style="width:auto; border-top-left-radius:0.5rem; border-bottom-left-radius: 0.5rem; background-color: rgba(223, 23, 23, 0.959); color:white;">' + message + '</p>' +
      '</div>');
    } else {
      $chat.append('<div class="col-9 float-start text-start mb-2 ' + source + '">' + 
        '<strong class="ms-1 text-capitalize">' + name + '</strong>' + 
        '<span class="date ms-2 mt-1">' + datetime + '</span><br>' +
        '<p class="fs-5 mb-0 p-2 pe-4 float-start " style="width:auto; border-top-right-radius:0.5rem; border-bottom-right-radius: 0.5rem; background-color: #efefef;">' + message + '</p>' + 
      '</div>');
    }
    $chat.scrollTop($chat[0].scrollHeight);
  };
  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };
  var $input = $('#chat-message-input');
  var $submit = $('#chat-message-submit');
  $submit.click(function() {
    var message = $input.val();
    if(message) {
      // send message in JSON format
      chatSocket.send(JSON.stringify({'message': message}));
      // clear input
      $input.val('');
      // return focus
      $input.focus();
    }
  });
  $input.focus();
  $input.keyup(function(e) {
    if (e.which === 13) {
      // submit with enter / return key
      $submit.click();
    }
  });

{% endblock domready %}