{% extends 'base.html' %}

{% block title %}
    Delete course
{% endblock title %}

{% block content %}
    
    <div class="container bg-light mt-5 rounded-5">
        
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
              <h1 class="text-black display-5 fw-bold">Delete course: {{ object.title }}</h1>
              <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">
                    Are you sure you want to delete "{{ object }}"?
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            This action is irreversible
                        </div>
                    </div>
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <input type="button" value="Confirm" class="btn btn-primary btn-lg px-4 me-sm-3 fw-bold">
                </div>
              </div>
            </div>
        </div>
    </div>
    
{% endblock content %}