{% extends "base.html" %}

{% block title %}
  Instructor's courses
{% endblock title %}

{% block content %}

  <div class="container px-4 py-5 bg-light mt-3">
    <div class="pb-2 border-bottom row gx-5">
      <div class="col">
        <h2 >Created courses</h2>
      </div>
      <div class="col gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'course_create' %}" class="btn btn-primary" role="button" style="margin-bottom: 10px;">
          Create new course
        </a>
      </div>
    </div>
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      {% for course in object_list %}
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="black" class="bi bi-collection-fill" viewBox="0 0 16 16">
              <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
            </svg>
          </div>
          <h2>{{ course.title }}</h2>
          <p>{{ course.overview|truncatewords:30 }}</p>
          <a href="{% url 'course_edit' course.id %}" class="icon-link col-6 col-sm-5">
            Edit course
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
          <a href="{% url 'course_delete' course.id %}" class="icon-link col-6 col-sm-5">
            Delete course
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
          <div class="w-100 d-none d-md-block"></div>

          <a href="{% url 'course_module_update' course.id %}" class="icon-link col-6 col-sm-5">
            Edit modules
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
          {% if course.modules.count > 0 %}
            <a href="{% url 'module_content_list' course.modules.first.id %}" class="icon-link col-6 col-sm-5">
              Manage contents
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          {% endif %}
        </div>
      {% empty %}
        <p>
          You haven't created any courses yet.
        </p>
      {% endfor %}
    </div>
  </div>

{% endblock content %}