{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock title %}

{% block content %}
  
  <main>
    
    <nav class="navbar navbar-expand-md">
      
      <div class="d-flex text-center">
        <a class="navbar-toggler" role="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarToggler" aria-controls="sidebarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <strong class="m-3 me-0 text-md-start">Courses</strong>
          <span class="mt-1">
            {% if subject %}
              - {{ subject.title}}
            {% else %}
              - All courses
            {% endif %}
            </span>
        </a>
        
      </div>    
    
      <div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 align-self-start p-3 text-white bg-dark mt-2" tabindex="-1" id="sidebarToggler" aria-labelledby="sidebarTogglerLabel" style="width: 250px; border-top-right-radius: 6px; border-bottom-right-radius: 6px">
            <div href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4">
                Courses
              </span>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{% url 'course_list' %}" {% if not subject %}
                class="nav-link active" aria-current="page" {% else %} class="nav-link text-white">
                {% endif %}
                  <span class="fs-6">All courses</span>
                </a>
              </li>
              {% for s in subjects %}
                <li>
                  <a href="{% url 'course_list_subject' s.slug %}" {% if subject == s %}
                  class="nav-link active" {% else %}  class="nav-link text-white">
                  {% endif %}
                    <span class="fs-6">{{ s.title|title }}</span>
                    <br><span class="text-start fs-6 fst-italic" >{{ s.total_courses }} courses</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
            <hr>
            {% if user.is_authenticated %}
              <div class="dropup">
                {% for group in request.user.groups.all %}
                  {% if group.name == 'Instructors' %}
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                      <strong>Instructor</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="{% url 'course_create' %}">New course</a></li>
                      <li><a class="dropdown-item" href="{% url 'manage_course_list' %}">Dashboard</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                  {% else %}
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                      <strong>Student</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="{% url 'student_course_list' %}">Enrolled courses</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
      </div>
    
      <div class="container d-flex flex-column align-self-start">
        <div class=" align-items-stretch bg-light p-3 mt-2" style="width: 90%; border-radius: 6px">
          
          {% for course in courses %}
            
            {% with subject=course.subject %}
              <div class="list-group list-group-flush">
                <div class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <strong class="mb-1"><a class="text-decoration-none" href="{% url 'course_detail' course.slug %}">{{ course.title }}</a></strong>
                    <small>
                      <a class="text-decoration-none" href="{% url 'course_list_subject' subject.slug %}">
                        {{ subject}}
                      </a>
                    </small>
                  </div>
                  <div class="col-12 mb-1 small">{{ course.overview|truncatewords:30 }}</div>
                  {{ course.total_modules }} modules.
                  Instructor: {{ course.owner.get_full_name }}
                </div>
              </div>
            {% endwith %}
            
          {% empty %}
              <div class="list-group list-group-flush">
                <div class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <span class="fs-5">There are no courses for this subject, yet!</span>
                  </div>
                </div>
              </div>
          {% endfor %}      
        </div>
      </div>

    </nav>

  </main>
{% endblock content %}