{% extends "base.html" %}
{% load course %}
{% load widget_tweaks %}
{% load index %}

{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock title %}

{% block content %}
<main class="d-flex mt-4">
    {% with course=module.course %}
        <nav class="navbar navbar-expand-md">
            <div class="d-flex text-center">
                <div class="d-flex text-center">       
                    <a class="navbar-toggler" role="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarToggler" aria-controls="sidebarToggler" aria-expanded="false" aria-label="Toggle navigation">
                      <div class="text-center justify-content-center align-items-center navbar-toggler">
                        <strong class="me-0 text-center">Modules
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </strong>
                      </div>
                    </a>
                </div>   
                
            </div>    

            <div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 align-self-start p-3 text-white bg-dark" tabindex="-1" id="sidebarToggler" aria-labelledby="sidebarTogglerLabel" style="width: 250px; border-top-right-radius: 6px; border-bottom-right-radius: 6px">
                <div href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">
                        {{ course.title|title }}
                    </span>
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% for m in course.modules.all %}
                        <li data-id="{{ m.id }}">
                            <a href="{% url 'module_content_list' m.id %}" {% if m == module %}
                                class="nav-link active" {% else %}  class="nav-link text-white">
                                {% endif %}
                                <span class="fs-6">{{ m.title|title }}</span>
                            </a>
                        
                        </li>
                        {% empty %}
                        <li>No modules yet.</li>
                        {% endfor %}
                </ul>
                <hr>
                <div class="btn-group">
                    <a href="" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        <strong>Instructor</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownMenuClickableInside">
                        <li><a class="dropdown-item" href="{% url 'course_module_update' course.id %}">Edit modules</a></li>
                        <li class="btn-group dropend">
                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                New content
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'module_content_create' module.id 'text' %}">Text</a></li>
                                <li><a class="dropdown-item" href="{% url 'module_content_create' module.id 'image' %}">Image</a></li>
                                <li><a class="dropdown-item" href="{% url 'module_content_create' module.id 'video' %}">Video</a></li>
                                <li><a class="dropdown-item" href="{% url 'module_content_create' module.id 'file' %}">File</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'course_create' %}">New course</a></li>
                        <li><a class="dropdown-item" href="{% url 'manage_course_list' %}">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    </ul>
                </div>

            </div>
        
            <div class="container-sm mw-75 px-4 py-5 bg-light align-items-stretch align-self-start bg-light m-4 mt-0" style="width: 90%;">
                <div class="align-items-stretch p-3" style="width: 90%;">
                    <div class="pb-2 border-bottom row">
                        <div class="col">
                        <h2>Module contents</h2>
                        </div>
                        <div class="col gap-2 d-md-flex justify-content-md-end d-md-block">
                        <a href="{% url 'module_content_create' module.id 'text' %}" class="btn btn-outline-primary btn-sm me-md-2" role="button" style="margin-bottom: 10px;">
                            Add Text
                        </a>
                        <a href="{% url 'module_content_create' module.id 'image' %}" class="btn btn-outline-primary btn-sm" role="button" style="margin-bottom: 10px;">
                            Add image
                        </a>
                        <a href="{% url 'module_content_create' module.id 'video' %}" class="btn btn-outline-primary btn-sm" role="button" style="margin-bottom: 10px;">
                            Add video
                        </a>
                        <a href="{% url 'module_content_create' module.id 'file' %}" class="btn btn-outline-primary btn-sm" role="button" style="margin-bottom: 10px;">
                            Add file
                        </a>
                        </div>
                        
                    </div>
                    <div class="d-flex row flex-shrink-0 bg-light p-3 rounded-5">
                
                        {% for content in module.contents.all %}
                        
                            {% with item=content.item %}
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1"><a class="text-decoration-none" role="button" data-bs-toggle="modal" data-bs-target="#{{ item|model_name|title }}{{ item.id }}" >{{ item|title }}</a></strong>
                                            <span>
                                                {{ item|model_name|title }}
                                            </span>
                                        </div>

                                        <div class="row">
                                            <div class="col mb-1 small">
                                                <a href="{% url 'module_content_update' module.id item|model_name item.id %}">Edit</a>
                                            </div>
                                            <div class="col mb-1 small justify-contents-end">
                                                <form action="{% url 'module_content_delete' content.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                                </form>
                                            </div>
                                        </div>
                                        Instructor: {{ course.owner.get_full_name }}
                                    </div>
                                </div>
                                <div class="modal fade" id="{{ item|model_name|title }}{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl .modal-fullscreen-lg-down modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ item }} - {{ item|model_name|title }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        {% if item|model_name == 'text' %}
                                            <p>
                                            {{ item.content }}
                                            </p>
                                        {% elif item|model_name == 'video' %}
                                            <div class="ratio ratio-21x9">
                                            <iframe src="{{ item.url }}" title="YouTube video" allowfullscreen></iframe>
                                            </div>
                                        {% elif item|model_name == 'image' %}
                                            <img src="{{ item.file.url }}" alt="{{ item }}" width="95%">
                                        {% else %}
                                            <div style="width: 80%;">
                                            {{ item.render }}
                                            </div>
                                        {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endwith %}
                        
                        {% empty %}
                            <div class="list-group list-group-flush">
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex row w-100 align-items-center justify-content-between">
                                <span class="fs-5">There are no contents in this module, yet!</span>
                                </div>
                            </div>
                            </div>
                        {% endfor %}      
                    </div>
                </div>
            </div>
        </nav>
    {% endwith %}
</main>
{% endblock content %}

{% block domready %}
    $('#modules').sortable({
        stop: function(event, ui) {
            modules_order = {};
            $('#modules').children().each(function(){
                // update the order field
                $(this).find('.order').text($(this).index() +1);
                // associate the module's id with its order
                modules_order[$(this).data('id')] = $(this).index();
            });
            $.ajax({
                type: 'POST',
                url: '{% url "module_order" %}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(modules_order)
            });
        }
    });

    $('#module-contents').sortable({
        stop: function(event, ui) {
            contents_order = {};
            $('#module-contents').children().each(function(){
                // associate the module's id with its order
                contents_order[$(this).data('id')] = $(this).index();
            });

            $.ajax({
                type: 'POST',
                url: '{% url "content_order" %}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(contents_order),
            });
        }
    });
{% endblock domready %}